@using csi_workflow.Shared
@page "/Workflow"
@inject Microsoft.AspNetCore.Components.IUriHelper UriHelper
@inject IJSRuntime JsRuntime
@inject HttpClient Http


<h1>Workflow Management</h1>

@if (groupList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <select id="groups" class="form-control" onchange="@GroupSelected">
                <option value="">-- Select Board --</option>
                    @foreach (var group in groupList)
                    {
                        <option value="@group.UserId">@group.GroupDesc</option>
                    }
                </select>
            </div>
            <div class="col-md-6">
                <div class="form-group" >
                    <label class="radio-inline"><input type="radio" name="optStatus" onchange="@OpenStatus" checked />Open</label>
                    <label class="radio-inline"><input type="radio" name="optStatus" onchange="@CompletedStatus" />Complete</label>
                    <label class="radio-inline"><input type="radio" name="optStatus" onchange="@AllStatus" />All</label>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <span class="sort-link" onclick="@(() => SortTable("Task"))">Task</span>
                    <span class="fa @(GetSortStyle("Task"))"></span>
                </th>
                <th>
                    <span class="sort-link" onclick="@(() => SortTable("ItemNumber"))">Item</span>
                    <span class="fa @(GetSortStyle("ItemNumber"))"></span>
                </th>
                <th>
                    <span class="sort-link" onclick="@(() => SortTable("SalesOrder"))">Order</span>
                    <span class="fa @(GetSortStyle("SalesOrder"))"></span>
                </th>
                <th>
                    <span class="sort-link" onclick="@(() => SortTable("SalesOrderLine"))">Line</span>
                    <span class="fa @(GetSortStyle("SalesOrderLine"))"></span>
                </th>
                <th>
                    <span class="sort-link" onclick="@(() => SortTable("DueDate"))">Due Date</span>
                    <span class="fa @(GetSortStyle("DueDater"))"></span>
                </th>
                <th>
                    <span class="sort-link" onclick="@(() => SortTable("Priority"))">Priority</span>
                    <span class="fa @(GetSortStyle("Priority"))"></span>
                </th>
                <th>
                    <span class="sort-link" onclick="@(() => SortTable("CreatedBy"))">Created By</span>
                    <span class="fa @(GetSortStyle("CreatedBy"))"></span>
                </th>
                <th>
                    <span class="sort-link" onclick="@(() => SortTable("Owner"))">Owner</span>
                    <span class="fa @(GetSortStyle("Owner"))"></span>
                </th>
                <th>
                    <span class="sort-link" onclick="@(() => SortTable("Hours"))">Hours</span>
                    <span class="fa @(GetSortStyle("Hours"))"></span>
                </th>
                <th>
                    <span class="sort-link" onclick="@(() => SortTable("Completed"))">Completed</span>
                    <span class="fa @(GetSortStyle("Completed"))"></span>
                </th>
                <th>
                    <span class="sort-link" onclick="@(() => SortTable("CompletedDate"))">Completed Date</span>
                    <span class="fa @(GetSortStyle("CompletedDate"))"></span>
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (workflowList != null)
            {
                @foreach (var workflow in workflowList)
                {
                    <tr>
                        <td>@workflow.Task</td>
                        <td>@workflow.ItemNumber</td>
                        <td>@workflow.SalesOrder</td>
                        <td>@workflow.SalesOrderLine</td>
                        @if(@workflow.DueDate.ToShortDateString() == "01/01/1900") 
                        {
                            <td></td>
                        } else 
                        {
                            <td>@workflow.DueDate.ToShortDateString()</td>
                        }
                        <td>@workflow.Priority</td>
                        <td>@workflow.CreatedBy</td>
                        <td>@workflow.Owner</td>
                        <td>@workflow.Hours</td>
                        <td><input type="checkbox" bind="@workflow.Completed" readonly/></td>
                        @if(@workflow.CompletedDate.ToShortDateString() == "01/01/1900") 
                        {
                            <td></td>
                        } else 
                        {
                            <td>@workflow.CompletedDate.ToShortDateString()</td>
                        }
                        <td>
                            <button class="btn btn-primary" onclick="@(async () => await GetEditWorkflow(@workflow.Id))">Edit</button>
                        </td> 
                    </tr>
                }
            }
        </tbody>
    </table>


    @if(IsEdit)
    {
        <div class="modal" tabindex="-1" style="display:block" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Edit Workflow</h3>
                        <button type="button" class="close" onclick="@CloseModal"> 
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="task">Task</label>
                                        <input type="text" class="form-control" name="task" bind="@wf.Task" readonly />
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="itemNumber">Item Number</label>
                                        <input type="text" class="form-control" name="itemNumber" bind="@wf.ItemNumber" readonly />
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="dueDate">Due Date</label>
                                        <input type="date" class="form-control" name="dueDate" bind="@wf.DueDate" format-value="yyyy-MM-dd" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="priority">Priority</label>
                                        <select id="priority" class="form-control" bind="@wf.Priority">
                                            <option value="3">3</option>
                                            <option value="2">2</option>
                                            <option value="1">1</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="salesOrder">Sales Order</label>
                                        <input type="text" class="form-control" name="salesOrder" bind="@wf.SalesOrder" readonly />
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="salesOrderLine">Line Number</label>
                                        <input type="text" class="form-control" name="salesOrderLine" bind="@wf.SalesOrderLine" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="createdBy">Created By</label>
                                        <input type="text" class="form-control" name="createdBy" bind="@wf.CreatedBy" readonly />
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="owner">Owner</label>
                                        <select id="owner" name="owner" class="form-control" bind="@wf.OwnerId">
                                            <option value=""></option>
                                            @foreach (var owner in ownerList)
                                            {
                                                <option value="@owner.UserId">@owner.Username</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="hours">Hours</label>
                                        <input type="text" class="form-control" name="hours" bind="@wf.Hours"  />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="completed">Completed</label>
                                        <input type="checkbox" class="form-control move-left" name="completed" bind="@wf.Completed" />
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="completedDate">Completed Date</label>
                                        <input type="date" class="form-control" name="completedDate" bind="@wf.CompletedDate" format-value="yyyy-MM-dd" />
                                    </div>
                                </div>
                                <div class="col-sm">
                                </div>
                            </div>
                        </form>        
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <button class="btn btn-success" onclick="@TryUpdateWorkflow" data-dismiss="modal">Save</button>
                                    <button class="btn btn-warning" onclick="@CloseModal" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                            <div class="col-sm"></div>
                            <div class="col-sm"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}


@functions {

    List<Groups> groupList;
    List<Workflows> workflowList;
    string groupId;
    string status = "Open";
    private bool IsSortedAscending;   
    private string CurrentSortColumn;
    private bool IsEdit = false;
    List<Workflows> workflow;
    List<Groups> ownerList;
    Workflows wf;

    protected override async Task OnInitAsync()
    {
        groupList = await Http.GetJsonAsync<List<Groups>>("api/group/getgroups"); 
    }


    protected async void GroupSelected(UIChangeEventArgs groupEvent)
    {   
        groupId = groupEvent.Value.ToString();

        workflowList = await Http.GetJsonAsync<List<Workflows>>("api/workflow/getworkflows/" + groupId + "/" + status);

        this.StateHasChanged();
    }


    private void SortTable(string columnName)
    {
        if(columnName != CurrentSortColumn) 
        {
            workflowList = workflowList.OrderBy(x => x.GetType().GetProperty(columnName).GetValue(x, null)).ToList();
            CurrentSortColumn = columnName;
            IsSortedAscending = true;
        }
        else 
        {
            if(IsSortedAscending)
            {
                workflowList = workflowList.OrderByDescending(x => x.GetType().GetProperty(columnName).GetValue(x, null)).ToList();
            }
            else
            {
                workflowList = workflowList.OrderBy(x => x.GetType().GetProperty(columnName).GetValue(x, null)).ToList();
            }

            IsSortedAscending = !IsSortedAscending;
        }
    }


    private string GetSortStyle(string columnName)
    {
        if(CurrentSortColumn != columnName)
        {
            return string.Empty;
        }
        if(IsSortedAscending)
        {
            return "oi oi-arrow-thick-bottom";
        }
        else
        {
            return "oi oi-arrow-thick-top";
        }
    }


    protected async void OpenStatus()
    {   
        status = "Open";

        workflowList = await Http.GetJsonAsync<List<Workflows>>("api/workflow/getworkflows/" + groupId + "/" + status);

        this.StateHasChanged();
    }


    protected async void CompletedStatus()
    {   
        status = "Completed";

        workflowList = await Http.GetJsonAsync<List<Workflows>>("api/workflow/getworkflows/" + groupId + "/" + status);

        this.StateHasChanged();
    }


    protected async void AllStatus()
    {   
        status = "All";

        workflowList = await Http.GetJsonAsync<List<Workflows>>("api/workflow/getworkflows/" + groupId + "/" + status);

        this.StateHasChanged();
    }


    protected async Task GetEditWorkflow(int id)
    {
        workflow = await Http.GetJsonAsync<List<Workflows>>("api/workflow/getworkflow/" + id); 

        wf = workflow.First();   

        ownerList = await Http.GetJsonAsync<List<Groups>>("api/group/getusers/" + wf.CreatedBy); 

        IsEdit = true;
    }


    protected async Task TryUpdateWorkflow()
    {      
        await Http.SendJsonAsync(HttpMethod.Put, "api/workflow/putworkflow", wf);

        if(wf.Completed == true)
        {
            string url = "https://pwgplt.apptrix.com/IDORequestService/EventResponseServer.aspx?ConfigName=PG&PromptId=" + wf.CSIId + "&Response=1";

            JsRuntime.InvokeAsync<object>("open", url.ToString(), "_blank"); 
        }   

        workflowList = await Http.GetJsonAsync<List<Workflows>>("api/workflow/getworkflows/" + groupId + "/" + status);

        IsEdit = false;       
    }


    void CloseModal()
    {
        IsEdit = false;
    }
}
