﻿@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    
    <div class="top-row px-4">
        <img src="/img/blue-text.png" alt="">
        <a href="https://pwgplt.apptrix.com/WSWebClient/default.aspx" target="_blank" class="ml-md-auto">CloudSuite Online</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
